@model VeraDemoNet.Models.LoginView

@{
    Layout = "../Shared/_LoginLayout.cshtml";
    ViewBag.Title = "Login";
}

<div class="page-header">
    <img src="@(Url.Content("~/Images/Tokyoship_Talk_icon.svg"))" height="100" width="100" />
    <h4>Login</h4>
</div>
<div></div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
                    {
                        @Html.Raw(ViewBag.Message)
                    }
                </h3>
            </div>
            <div class="panel-body">

                

                @using (Html.BeginForm(null, null, new {ReturnUrl = ViewBag.ReturnUrl}, FormMethod.Post))
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
                        <div class="form-group">
                            @Html.LabelFor(model => model.UserName, new {@class = "control-label col-md-2"})
                            @Html.HiddenFor(s => s.ReturnURL)
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.UserName, new {htmlAttributes = new {@class = "form-control"}})  
                                @Html.ValidationMessageFor(model => model.UserName, "", new {@class = "text-danger"})
                                <a href="javascript:hint();">Hint</a>
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new {@class = "control-label col-md-2"})
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.Password, new {htmlAttributes = new {@class = "form-control", @type = "password"}})
                                @Html.ValidationMessageFor(model => model.Password, "", new {@class = "text-danger"})
                            </div>
                        </div>

                        <div class="form-group">
                            @Html.LabelFor(model => model.RememberLogin, new {@class = "control-label col-md-2"})
                            <div class="col-md-1">
                                @Html.CheckBoxFor(model => model.RememberLogin, new {@class = "form-control"})
                            </div>
                        </div>


                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Log In" class="btn btn-default"/>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>


@section scripts{
    <script>
        function hint() {

            function alerter() {
                window.alert(this.responseText);
            }

            var oReq = new XMLHttpRequest();
            oReq.addEventListener("load", alerter);
            oReq.open("GET", "passwordhint?username=" + document.forms[0].UserName.value);
            oReq.send();
        }
    </script>
}