@model VeraDemoNet.Models.BlabbersViewModel
@{
    ViewBag.Title = "Blab";
}

<div class="page-header">
    <h4>Choose Blabbers to Listen to</h4>
</div>
<div></div>

@{
    if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="detailBox">
            <div class="titleBox">
                <label>Blabbers</label>
            </div>
            <div class="actionBox">
                <table class="blabbers table">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="commenterName"><a href="?sort=blab_name ASC">Name</a></th>
                            <th class="commenterJoinDate">
                                <a href="?sort=created_at DESC">Join date</a>
                            </th>
                            <th class="commenterListeners">
                                <a href="?sort=totallisteners DESC">Listeners</a>
                            </th>
                            <th class="commenterListening">
                                <a href="?sort=totallistening DESC">Listening</a>
                            </th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    @{
                        var blabbers = Model.Blabbers;
                        foreach (var blabber in blabbers)
                        {
                            <tr>
                                <td class="commenterImage">
                                    <img src="@(Url.Content("~/Images/" + blabber.UserName + ".png"))"/>
                                </td>
                                <td class="commenterName">
                                    @blabber.BlabName
                                </td>
                                <td class="commenterJoinDate">
                                    @blabber.CreateDateString
                                </td>
                                <td class="commenterListeners">
                                    &nbsp;@(blabber.NumberListeners)&nbsp;
                                </td>
                                <td class="commenterListening">
                                    &nbsp;@(blabber.NumberListening)&nbsp;
                                </td>
                                <td>
                                    <form class="form-inline" role="form" method="POST" action="@Url.Action("Blabbers", "Blab")">
                                        <input type="hidden" name="blabberUsername" value="@blabber.UserName"/>
                                        <input type="hidden" name="command" value="@(blabber.Subscribed ? "ignore" : "listen")"/>
                                        <input type="submit" class="btn btn-default pull-right" name="button" value="@(blabber.Subscribed ? "Ignore" : "Listen")"/>
                                    </form>
                                </td>
                            </tr>
                        }
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-3"></div>
    <div class="col-md-3"></div>
</div>