@using VeraDemoNet.Models
@model FeedViewModel

@{
    ViewBag.Title = "Blab Feed";
}

<div class="page-header">
    <h3>Hi @Model.CurrentUser, welcome to Blab-a-Gag</h3>
    <h4>The home of of witty one-liners</h4>
</div>

@{
    if (!string.IsNullOrEmpty(Model.Error))
    {
        <div class="alert alert-danger" role="alert">
            @Model.Error
        </div>
    }
}

<div class="row">
    <div class="col-md-6">
        <div class="detailBox">
            <div class="titleBox">
                <label>Blabs for You</label>
            </div>
            <div id="feed" class="actionBox">
                <ul class="commentList">
                    @{
                        var feedBlabs = (List<Blab>)Model.BlabsByOthers;

                        foreach (var post in feedBlabs)
                        {
                            <li>
                                <div>
                                    <div class="commenterImage">
                                        <img src="@(Url.Content("~/Images/" + post.Author.UserName + ".png"))" />
                                    </div>
                                    <div class="commentText">
                                        @*START BAD CODE*@
                                        <p class="">@Html.Raw(post.Content)</p>
                                        @*END BAD CODE*@                                        
                                        <span class="date sub-text">by @(post.Author.BlabName) on @post.PostDateString</span>
                                        <br/>
                                        <span class="date sub-text">
                                            <a href="@Url.Action("Blab", "Blab", new { blabId = post.Id } )">@(post.CommentCount) Comments </a>
                                        </span>
                                    </div>
                                </div>
                            </li>
                        }
                    }
                </ul>
                <a href="#" onclick="getMoreBlabs(this); return false;">Fetch more...</a>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="detailBox">
            <div class="titleBox">
                <label>Your Blabs</label>
            </div>
            <div class="actionBox">
                <div class="blabber">
                    <form class="form-inline" role="form" method="POST" action="feed">
                        <div class="form-group">
                            <input class="form-control" type="text" placeholder="Blab something now..." name="blab" />
                        </div>
                        <div class="form-group">
                            <button class="btn btn-default">Add</button>
                        </div>
                    </form>
                </div>
                <ul class="commentList">
                    @{
                        var myBlabs = Model.BlabsByMe;

                        foreach (var post in myBlabs)
                        {
                            <li>
                                <div class="commentText">
                                    <p class="">@Html.Raw(post.Content)</p>
                                    <span class="date sub-text">by you on @post.PostDateString</span><br />
                                    <span class="date sub-text">
                                        <a href="@Url.Action("Blab", "Blab", new { blabId = post.Id } )">@post.CommentCount Comments</a>
                                    </span>
                                </div>
                            </li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function getMoreBlabs(obj) {
        var start = $("#feed li").length + 1;
        $.get("@Url.Action("GetMoreBlabs", "Blab")", {
            start: start,
            numResults: 10
        }, function (data) {
            if (data) {
                $("#feed ul").append(data);
            } else {
                $(obj).remove();
            }
        });
    }
</script>